@font-face {
  font-family: "Schwiffy";
  src: url("components/1_Home/get_schwifty.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1b7272;
  color: #cfcdcd;
  letter-spacing: 0.05em;
}

ul {
  list-style: none;
}

input, select {
  background: #cfcbcb;
}