.home-container {
  height: calc(100vh - 83px);
  background: url(../../images/Rick-And-Morty-PNG-Images.png) no-repeat center;
  background-size: cover;
}

.home-title {
  text-align: center;
  margin-top: 30px;
}

.home-title h1 {
  color: #fafafa;
}
